@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.botao-tela-inicial {
  font-family: 'Luckiest Guy', cursive;
  padding: 1rem 1.25rem;
  font-size: 1.5rem;
  letter-spacing: .25rem;
  box-shadow: 2px 2px 0px 1px #4a4c69;
  text-transform: uppercase;
  background-color: #8386b5;
  border: none;
  border-radius: .75rem;
  color: #fff;
}

.botao-tela-inicial:hover {
  background-color: #ffc0c1;
  box-shadow: 2px 2px 0px 1px #b58a8a;
}

/* CSS personalizado */
.container {
	font-family: Open-sans, Verdana, Arial;
	font-size: 18px;
	margin: 0 auto;
	height: 730px;
	background-image: url('imagens/cenario/floresta-tela-inicial.png');
	background-size: cover;
	overflow: hidden;
}

.tela {
	width: 1980px;
	height: 730px;
	top: 50%;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.titulo_jogo {
	font-family: 'Piedra', Open-sans, Verdana, Arial;
	font-size: 100px;
	letter-spacing: 5px;
	margin-top: 0;
	color: #fff;
	text-shadow: 2px 2px 1px #E91E63;
	margin-bottom: 0;
}

#creditos {
	text-decoration: none;
	color: #fff;
}

#copyleft {
	display:inline-block;
  	transform: rotate(180deg);
}

.centralizar {
	text-align: center;
}

.logo {
	width: 200px;
	margin-bottom: 20px;
	border-radius: 200px;
	border: 2px solid #E91E63;
	box-shadow: 0px 0px 10px #E91E63;
}

.botao_play {
	
	width:  200px;
	height: 200px;
	padding: 20px;
	
	border-radius: 100px;
	background: #E91E63;
	box-shadow: 0px 0px 10px #ff80ab;

	font-size: 24px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;

}

.botao_play:hover {
	box-shadow: 0px 0px 20px #fff;
}
